{% extends 'base.html' %}
{% block content %}
    <div class="col-md-12">
        <h1 align="center">Программы доступные вам для установки</h1>
    </div>

    {% for i in range(0, app_count) %}
        <div class="col-md-6">
            <div class="button-test">
                <h4>{{ app_name[i] }}</h4>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3"><img src="{{ url_for('static', filename='img/'+app_addr[i]+'.png') }}" width="100%" alt="" /></div>
                        <div class="col-md-9 col-sm-9">
                            <div class="button-test-about">
                                <p>{{ app_descr[i] | safe }}</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5">
                            <span><strong>Размер:</strong>10 мб</span>
                            <span><strong data-toggle="tooltip" data-placement="right" title="Шанс установить программу">Качество:</strong>8/10</span>
                        </div>
                        <div class="col-md-6 col-sm-7">
                            <div class="btn-group">
                              <button class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Установить программу" type="button">
                                <a class="run" href="/install/{{ app_addr[i] }}">
                                  <img src="{{ url_for('static', filename='img/icon/install.png') }}" width="26" alt="" />
                                </a>
                              </button>
                              <button class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Сообщить админам что программа не устанавливается" type="button">
                                <a class="run" href="#">
                                  <img src="{{ url_for('static', filename='img/icon/mail.png') }}" width="34" alt="" />
                                </a>
                              </button>
                              <button class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Удалить программу" type="button">
                                <a class="run" href="/uninstall/{{ app_addr[i] }}">
                                   <img src="{{ url_for('static', filename='img/icon/trash.png') }}" width="26" alt="" />
                                </a>
                              </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function(){
        $(function () {$('[data-toggle="tooltip"]').tooltip()})
    });
    </script>
{% endblock %}
